.botones{
    background-color: #005CA9 !important;
    color: white !important;
    border-radius: 20px!important;
    width: 200px!important;
    height: 45px !important;
}


.botonestercero{
    background-color: #6C757D !important;
    color: white !important;
    border-radius: 20px!important;
    width: 200px!important;
    height: 45px !important;
}


