.botones{
    background-color: #005CA9 !important;
    color: white !important;
    border-radius: 20px!important;
    width: 200px!important;
    height: 45px !important;
}

.botonestercero{
    background-color: #6C757D !important;
    color: white !important;
    border-radius: 20px!important;
    width: 200px!important;
    height: 45px !important;
}

.ubicarmodalmensajes{
    margin-top: 20px !important;
    border-radius: 20px !important;
}

.centratexto{
    text-align: center !important;
}

.ubicarbotoncerrar {
    width: 200px;
    
}


